@import services.UserProvider
@import services.VacancyProvider
@(vacancyForm : Form[Vacancy], userProvider: UserProvider)
@import helper._

@types=@{VacancyProvider.getVacancyTypesStr()}
@main("Create Vacancy", userProvider){
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <h1>Create vacancy</h1>
            @helper.form(CSRF(routes.VacancyController.save())){
                @inputText(vacancyForm("title"),
                    '_label ->"Title")
                @inputText(vacancyForm("positionCount"),
                    '_label ->"Enter count of position",
                    'type -> "number"
                )
                @select(
                    vacancyForm("vacancyType.id"),
                    helper.options(types),
                    '_label -> "Vacancy type", '_default -> "-- Select type --"
                )

                @*<input type="submit" value="Create vacancy">*@
                <form action="routes.VacancyController.save">
                    <button type="submit" class="btn btn-info my-3" >
                        Create vacancy</button>
                </form>
            }
        </div>
    </div>
}