@import services.PeopleProvider
@import services.VacancyProvider

<div class="tab-content" class="mx-auto">
    @for(person <- PeopleProvider.getPeople){
        <a><b>SURNAME:</b> @person.surname       <b>NAME:</b> @person.name</a><br/><br/>
        <a><b>AGE:</b> @person.age       <b>DESIRED PROFESSION:</b> </a>
        <a>@VacancyProvider.getVacancyType(person.careerObjective.id).vacancyType</a><br/>
        <hr align="center" width="300" color="Black" />
    }
</div>