@(userForm : Form[User], message: String = "")
@import helper._

@layout("Create User"){
        @if(!message.isEmpty) {
            <div class="alert alert-danger">
                <strong>@message</strong>
            </div>
        }
        <h1>Create User</h1>
        @helper.form(action = routes.UserController.save()){
            <!--@helper.inputText(userForm("id"))-->
            @helper.inputText(userForm("email"))
            @helper.inputPassword(userForm("password"))

            <input type="submit" value="Create User">
        }
}