@(userForm: Form[User])
@import helper._
@layout("Edit User") {
    <h1>Edit User</h1>
    @helper.form(action = routes.UserController.update()) {
        <input type="hidden" name="id" value="@userForm.get().id">
        @helper.inputText(userForm("email"))
        @helper.inputPassword(userForm("password"))
        <input type="submit" value="Edit User">
    }
}