@(users : List[User])

@layout("All Users"){
    <h1>
        All Users
    </h1>

    @for(user <- users){
        <a href="@routes.UserController.show(user.id)">@user.email </a><br/>
    }

    <a href="@routes.UserController.create()">Add user</a>
}

