@import services.UserProvider
@import services.VacancyProvider
@(request : Request, userProvider : UserProvider)
@import helper._

@main("Request Details", userProvider){
<div xmlns:vertical-align="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-2" align="left">
            </div>
            <div class="col-md-10" align="left">

                <h1>Request details</h1>
                <b>Request Type: </b>
                <a>@request.requestType.reqType</a><br/>
                <b>Vacancy Type: </b>
                <a>@VacancyProvider.getVacancyType(request.vacancyType.id).vacancyType</a><br/>
                <b>Creator: </b>
                <a>Postman's Chief: email@@yandex.ru</a><br/>
                <b>Organization: </b>
                <a>Post office</a><br/>
                <b>Proposed vacancy: </b>
                <a>@request.vacancyTitle</a><br/>
                <b>Number of position: </b>
                <a>@request.positionCount</a><br/>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" align="left">
            </div>
            <div class="col-md-2" align="left">
            @helper.form(CSRF(routes.RequestController.processing(request.id))){
                <form action="@routes.RequestController.processing(request.id)" class="form-inline d-flex flex-nowrap">
                    <button type="submit" class="btn btn-success my-3">
                        Approve</button>
                </form>
            }
            </div>

            <div class="col-md-8" align="left">
                @helper.form(CSRF(routes.RequestController.processing(request.id))){
                    <form action="@routes.RequestController.destroy(request.id)">
                        <button type="submit" class="btn btn-danger my-3" onclick="return confirm('Are you sure?')">
                            Reject</button>
                    </form>
                }
            </div>
            </div>
        </div>
    </div>
</div>
}