@import services.UserProvider
@(userProvider: UserProvider)
@import be.objectify.deadbolt.java.views.html._

@main("Home", userProvider) {
    @subjectPresentOr() {
        <div class="container">
            <br>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Nav tabs -->
                    @defining(userProvider.getUser(session())) { user =>
                    <p>@user.role</p>
                    <ul class="nav flex-column nav-pills" role="tablist">
                        <li class="nav-item">
                            <a id="profile-tab" class="nav-link active" data-toggle="tab" href="#profile">
                                Profile</a>
                        </li>
                        @if(user.role != "Habitant") {
                            @if(user.role == "Mayor") {
                                <li class="nav-item">
                                    <a id="habitants-tab" class="nav-link" data-toggle="tab" href="#habitants">
                                        Habitants</a>
                                </li>
                                <li class="nav-item">
                                    <a id="organizations-tab" class="nav-link" data-toggle="tab" href="#organizations">
                                        Organizations</a>
                                </li>
                                <li class="nav-item">
                                    <a id="requests-tab" class="nav-link" data-toggle="tab" href="#requests">
                                        Requests</a>
                                </li>
                                <li class="nav-item">
                                    <a id="mvacancies-tab" class="nav-link" data-toggle="tab" href="#mvacancies">
                                        Mayor vacancies</a>
                                </li>
                            }

                            @if(user.role == "Leader") {
                                <li class="nav-item">
                                    <a id="workers-tab" class="nav-link" data-toggle="tab" href="#workers">
                                        Workers</a>
                                </li>
                                <li class="nav-item">
                                    <a id="vacancies-tab" class="nav-link" data-toggle="tab" href="#vacancies">
                                        Vacancies</a>
                                </li>
                            }

                            @if(user.role == "Postman") {
                                <li class="nav-item">
                                    <a id="messages-tab" class="nav-link" data-toggle="tab" href="#messages">
                                        Messages</a>
                                </li>
                            }
                        }
                    </ul>
                    }
                </div>

                <div class="col-sm-10">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="profile" class="container tab-pane active"><br>
                            <h3>Profile</h3>
                            @profile_module(userProvider.getUser(session()))
                        </div>
                        <div id="habitants" class="container tab-pane fade"><br>
                            <h3>Habitants</h3>
                            @habitants_module(userProvider.getUser(session()))
                        </div>
                        <div id="organizations" class="container tab-pane fade"><br>
                            <h3>Organizations</h3>
                            @organizations_module(userProvider.getUser(session()))
                        </div>
                        <div id="requests" class="container tab-pane fade"><br>
                            <h3>Requests</h3>
                            @requests_module()
                        </div>
                        <div id="mvacancies" class="container tab-pane fade"><br>
                            <h3>Mayor vacancies</h3>
                            @mvacancies_module(userProvider.getUser(session()))
                        </div>
                        <div id="workers" class="container tab-pane fade"><br>
                            <h3>Workers</h3>
                            @workers_module(userProvider.getUser(session()))
                        </div>
                        <div id="vacancies" class="container tab-pane fade"><br>
                            <h3>Vacancies</h3>
                            @vacancies_module()
                        </div>
                        <div id="messages" class="container tab-pane fade"><br>
                            <h3>Messages</h3>
                            @messages_module(userProvider.getUser(session()))
                        </div>
                    </div>

                </div>
            </div>
            <!--div class="row under" >-->

            </div>
        <!--div class="doc wrapper">You are log in</div-->
        @* *@
    } {
        <div class="doc wrapper">Please, log in or sign up</div>
    }
}