@import services.UserProvider
@(userProvider: UserProvider)

@main("The city of Ember", userProvider) {
  <div id="content" class="wrapper doc">
    <h1>The city of Ember</h1>
    <p><a href="@routes.HomeController.index()">Home</a></p>
    @*
    <p>index</p>
    <!--p>
      <a href="@routes.UserController.index()">Users</a>
    </p-->
    *@
  </div>
}