@import services.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, loginForm: Form[_])

@import helper._

@main("Login", userProvider) {
    <div class="wrapper doc">
        @helper.form(routes.LoginController.doLogin) {

            @if(loginForm.hasGlobalErrors) {
                <p class="alert alert-danger">
                    @for(error <- loginForm.globalErrors) {
                        <p>@error.format(messages)</p>
                    }
                </p>
            }

            @inputText(loginForm("Email"))

            @inputPassword(
                loginForm("Password")
            )

            <button type="submit">Login</button>
        }
    </div>
}