@import services.RequestProvider
@import services.VacancyProvider

<div xmlns:vertical-align="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-12" align="left">
                @for(request <- RequestProvider.getRequests){
                    <b>Request type: </b>
                    <a>@RequestProvider.getRequestType(request.requestType.id).reqType</a><br/>
                    <b>Creator: </b>
                    <a>Postman's Chief: email@@yandex.ru</a><br/>
                    <a>id: @request.id</a><br/>
                    <a>vacType: @VacancyProvider.getVacancyType(request.vacancyType.id).vacancyType</a><br/>

                    <form action="@routes.RequestController.details(request.id)">
                        <button type="submit" class="btn btn-info my-3" >
                            Details</button>
                    </form>

                <hr align="center" width="300" color="Black" />
                }
            </div>
        </div>
    </div>
</div>