@import services.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, signupForm: Form[_])

@import helper._

@main("Sign up", userProvider) {

    <div id="signup" class="wrapper doc">

        <div>
            @* Display proprietary login form *@
            @helper.form(routes.LoginController.doSignup, 'class -> "form-horizontal", 'role -> "form") {

                @if(signupForm.hasGlobalErrors) {
                    <p class="alert alert-danger">
                        @for(error <- signupForm.globalErrors) {
                            <p>@error.format(messages)</p>
                        }
                    </p>
                }
                @inputText(signupForm("Email"))

                @_passwordPartial(signupForm)

                <button type="submit">Signup</button>
            }
        </div>

    </div>
}