@import services.VacancyProvider
@import services.PeopleProvider

<div xmlns:vertical-align="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-2" align="center">
                <select>
                @for(vacancy <- VacancyProvider.getVacancies){
                    <option>@vacancy.title</option>
                }
                </select>
                <form action="@routes.VacancyController.create">
                    <button type="submit" class="btn btn-info my-3" >
                        Create new vacancy</button>
                </form>
            </div>
            <div class="col-md-7" align="center" b>
                    @vacancies.people()
            </div>
            <div class="col-md-1">
                <div class="tab-content">
                    <button type="submit" class="btn btn-warning">Details</button>
                    <button type="submit" class="btn btn-warning">Employ</button>
                </div>
            </div>
        </div>
    </div>
</div>